

#logo
  %h1 I Plan
  %br
  %h1 Websites
#title
  %h1 quote
%hr

%br
%br
%br
%br
%br
%br


#client
  %p
    %span 
      %strong Penal
    %span 22al, QC 
    %span Hda
    %span +1 53 ‎
    %br
    %span 14 Août 2011 ‎

%br
%br
%br
%br
%br
%br



%h1 Bonjour,
%hr
%p 
 

%h1 Quoi?
%hr
%p 
  Agfdg dfsgdfs gds fgdsf 

.clear
.container_12
  .grid_4
    %h3 Design (Interactif)
    %ul
      %li Structure du contenu
      %li Wireframes  
      %li Création d'une maquette originale
      %li Révisions du design (3x)
      %li Découpage de la maquette



    
  .grid_4
    %h3 CMS (Wordpress)
    %ul
      %li Configuration complète du CMS  
      %li Moteur unique (blog + site) 
      %li Bilinguisme assuré via un plugin
      %li Intégration du thème
      %li Intégration des textes initiaux
      %li Page d'accueil unique

  .grid_4
    %h3 Plus
    %ul
      %li Multi-platforme (html5/css3) 
      %li Transitions et effets CSS3  
      %li Google Analytics
      %li Optimisation SEO (de base)
      %li Hébergement de 1 an (mt)
 
  .clear



%h1 Pourquoi?
%hr
%p 
  ▪	Why you’re sending the proposal


%h1 Comment?
%hr
%p 
  ▪	Why you’re sending the proposal


%h1 Quand?
%hr
%p 
  ▪	Why you’re sending the proposal





%h1 fin